/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: rgb(32, 32, 32);
}

/* Navigation bar */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
  padding: 10px 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.logo img {
  width: 100px;
  height: auto;
  margin-top: 20px;
  margin-left: 23px;
}

.menu-icon {
  display: block;
  cursor: pointer;
  padding: 12px;
  background-color: black;
  margin: 25px;
}

.menu-icon.active .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-icon.active .bar:nth-child(2) {
  opacity: 0;
}

.menu-icon.active .bar:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

.bar {
  width: 30px;
  height: 5px;
  background-color: rgb(218, 82, 67);
  margin: 6px 0;
}

.links {
  display: none;
  position: absolute;
  top: 90px;
  right: 1px;
  background-color: rgba(211, 211, 211, 0.85);
  padding: 20px;
}

.links a {
  color: black;
  padding: 10px;
}

.nav.active .links {
  display: flex;
  flex-direction: column;
}

/* Swoop background */
.swoop-background {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.swoop-background img {
  width: 100%;
  height: 30%;
  display: block;
  margin: 0px;
  margin-top: 100px;
  background-size: cover;
  background-color: rgb(32, 32, 32);
  background-position: center;
}

/* Holy Grail layout and content */
.holy-grail {
  display: flex;
  flex-direction: row;
  margin-top: 0vh;
  justify-content: space-between;
  min-height: 100vh;
}

/* Content */
.holy-grail-content {
  flex: 1;
  background-color: rgb(32, 32, 32);
  padding: 0;
  border: 0;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.holy-grail-content h1 {
  color: antiquewhite;
  margin: 10px;
}

/* News */
.ep-news {
  color: rgb(206, 206, 206);
  padding: 10px;
  border: 10px;
  margin-top: 160px;
  text-align: center;
  text-shadow: 0 0 10px rgba(97, 95, 95, 0.7), 0 0 20px rgba(68, 68, 68, 0.5), 0 0 30px rgba(255, 255, 255, 0.3);
}

/* YouTube videos */
.youtube-video {
  margin: 20px auto;
  text-align: center;
}

.about-container {
  background-color: #f4f4f4; /* Off white background color */
  padding: 20px;
  margin: 20px;
  border-radius: 10px; /* Rounded border */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow */
  text-align: center;
}

.about-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.about-bio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px; /* Adjust the maximum width as needed */
  margin: 0 auto;
  text-align: left;
}

.about-bio img {
  max-width: 100%;
  margin: 5px; /* Space between image and text */
}

.about-bio p {
  font-size: 16px;
  line-height: 1.5;
}

.shows-container {
  background-color: #f5f5f5; /* Off white background */
  border-radius: 10px; /* Rounded borders */
  margin: 10px;
  padding: 20px; /* Add padding for spacing */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add shadow */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add text shadow */
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center content vertically */
}

.show {
  flex: 1; /* Distribute available space evenly */
  margin: 10px; /* Add spacing between shows */
}

.show img {
  max-width: 100%; /* Ensure the image doesn't overflow */
  height: auto;
}

.show-details {
  display: flex;
  flex-direction: column;
  flex: auto;
  line-height: 5;
}

@media (min-width: 768px) {
  .youtube-video iframe {
    width: 700px;
    height: 500px;
  }
}

/* Band Pics */
.bandPics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.bandPics img {
  max-width: 100%;
  margin: 30px;
}

.bandPics img:hover {
  transform: scale(1.05);
}

/* Social Icons */
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
}

.social-icons img {
  width: 30px;
  height: 30px;
  transition: transform 0.2s;
}

.social-icons img:hover {
  transform: scale(2);
  border: 1px solid white;
}

/* Separator */
.separator {
  width: 70%;
  height: 2px;
  background-color: white;
  margin: 20px 0;
  margin-top: 45px;
  margin-bottom: 50px;
}

/* Mobile navigation adjustments */
@media (max-width: 768px) {
  .menu-icon {
    padding: 10px;
    margin: 15px;
  }

  .bar {
    width: 25px;
    height: 4px;
    margin: 5px 0;
  }

  .links {
    top: 60px;
  }

  .ep-news {
    margin-top: 200px;
  }

  .youtube-video iframe {
    width: 100%;
    max-width: 100%;
  }

  .about-container {
    margin-top: 160px;
  }
  
.show-details {
  text-align: right;
  line-height: 2;
  font-size:  .75rem;
}

.show img {
  margin-left: -25px;
  max-width: 250%;
}

}

